@import "modern-normalize/modern-normalize.css";
@font-face {
  font-family: "LongToday";
  src: url("/fonts/long_today/LongToday.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LondrinaSolid";
  src: url("/fonts/londrina/LondrinaSolid-Regular.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LondrinaOutline";
  src: url("/fonts/londrina/LondrinaOutline-Regular.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
}

html,
body {
  font-family: LondrinaSolid, sans-serif;
}

.solid {
  font-family: LondrinaSolid, sans-serif;
  font-size: 81px;
}
.outline {
  font-family: LondrinaOutline, sans-serif;
  font-size: 81px;
}
