@import "modern-normalize/modern-normalize.css";
@font-face {
  font-family: "LongToday";
  src: url("/fonts/long_today/LongToday.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LondrinaSolid";
  src: url("/fonts/londrina/LondrinaSolid-Regular.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LondrinaOutline";
  src: url("/fonts/londrina/LondrinaOutline-Regular.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GhastlyPanic';
  src: url('/fonts/GhastlyPanicCyr.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Mark-Squad';
  src: url('/fonts/Mark-Squad.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DarkGraffiti-Regular';
  src: url('/fonts/DarkGraffiti-Regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'pershotravneva55-regular';
  src: url('/fonts/pershotravneva55-regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

:root {
  /* Colors */
  --basic-white: #fcfbfb;
  --basic-grey: #999999;
  --secondary-grey: #212121;
  --third-grey: #cecece;
  --basic-yellow: #ffed00;
  --grey-text: #727272;
  --basic-black: #0f0f0f;
  --background: #0f0f0f;
  --text-color: rgba(255, 255, 255, 0.9);

  /* Gradients */

  /* Font */
  --font-family: LondrinaSolid, sans-serif;
  --title-font-size: 24px;
  --title-font-weight: 500;
  --basic-font-size: 16px;
  --basic-font-weight: 500;

  /* Transition */
  --transition-dur-and-func: 300ms ease-in-out;

  /* Container */
  --padTop: 30px;
  --padBottom: 30px;
  --max-widthDesktop: 1360px;
  --max-widthTablet: 833px;
}

html,
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--font-family), sans-serif;
  color: var(--basic-white);
}




main {
  min-height: 100vh;

}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li {
  font-family: var(--font-family), sans-serif;
  margin: 0;
  padding: 0;
}

p {
  font-family: var(--font-family), sans-serif;
  font-size: 14px;
  font-weight: 500;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

input {
  padding: 0;
}

figure {
  margin: 0;
  width: 100%;
}

img {
  display: block;
  width: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  font-family: var(--font-family), sans-serif;
  text-decoration: none;
}

button {
  cursor: pointer;
  background: transparent;
  margin: 0;
  padding: 0;
  font-family: var(--font-family), sans-serif;
}

.is-hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
}

section,
header,
footer {
  padding: var(--padTop) 16px var(--padBottom);
  @media screen and (min-width: 768px) {
    padding: var(--padTop) 40px var(--padBottom);
  }
}

